/*### Estrutura - Layout ###*/
body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Cabeçalho*/
#cabecalho {
    background-color: #c5e3fe;
    border-bottom: 2px solid black;
    position: fixed;
    top: 0; /*colar no topo*/
    left: 0; /*colar a esquerda*/
    right: 0; /*colar a direita*/
}

.container {
    width: 1145px;
    margin: 0 auto;
    padding: 1.4rem;
    display: flex; /* Usar flexbox para alinhar o conteúdo horizontalmente */
    justify-content: space-between; /* Espaço entre logo e menu */
    align-items: center;
}

ul#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Transformar o menu em uma lista inline */
}

ul#menu li {
    margin-left: 20px; /* Espaçamento entre os itens */
}

ul#menu li a {
    color: black;
    text-decoration: none;
    font-size: 0.9rem;
}

ul#menu li.destaque a {
    color: white;
    border-radius: 0.5rem;
    background-color: black;
    padding: 0.5rem;
    margin: 0.2rem;
}

ul#menu li a:hover {
    color: #4c799f;
}

ul#menu li.destaque a:hover {
    color: #c5e3fe;
}

/*Àrea de destaque*/
#destaque {
    background-color: #c5e3fe;
    border-bottom: 2px solid black;
    margin-top: 4.5rem;
}

#area-destaque {
    width: 55%;
}

#destaque button {
    display: block;
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    border: 1px solid black;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    background-color: white;
}
/*imagem de fundo*/
.fundo-destaque {
    background: url(../img/fundo-topo.png) no-repeat right bottom;
    background-size: 22rem;
}


/*###Tipografia###*/
h1 {
    font-size: 4rem;
    font-weight: 100;
    margin: 0;
    letter-spacing: -0.1rem;
}